{% extends 'base.html' %}
{% block title %}To-Do List{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="bg-image" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                            <i class="fas fa-check-square me-1"></i>
                            <u>My Todo's</u>
                        </p>
                        <form action="" method="post">
                            <div class="pb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-row align-items-center">
                                            <input type="text" class="form-control form-control-lg" id="task"
                                                   placeholder="Add new..." name="task">
                                            <!--                                            <a href="#!" data-mdb-toggle="tooltip" title="Set due date"><i-->
                                            <!--                                                    class="fa-regular fa-calendar-days fa-lg me-3"></i></a>-->
                                            <div class="d-flex flex-row align-items-center">
                                                <input type="date" class="form-control form-control-lg" id="duedate"
                                                       placeholder="" name="duedate">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <button type="submit" class="btn btn-primary"
                                                                name="update_task_button"
                                                                value=True>Update!
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
