{% extends 'base.html' %}
{% block title %}To-Do List{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="bg-image" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                            <i class="fas fa-check-square me-1"></i>
                            <u>My Todo's</u>
                        </p>
                        <form action="{{ url_for('add_task') }}" method="post">
                            <div class="pb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-row align-items-center">
                                            <input type="text" class="form-control form-control-lg" id="task"
                                                   placeholder="Add new..." name="task">
                                            <!--                                            <a href="#!" data-mdb-toggle="tooltip" title="Set due date"><i-->
                                            <!--                                                    class="fa-regular fa-calendar-days fa-lg me-3"></i></a>-->
                                            <div class="d-flex flex-row align-items-center">
                                                <input type="date" class="form-control form-control-lg" id="duedate"
                                                       placeholder="" name="duedate">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>

                                                        <button type="submit" class="btn btn-primary"
                                                                name="add_task_button"
                                                                value=True>Add
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>

                        <hr class="my-4">
                        <form action="{{ url_for('filtered') }}" method="post">
                            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                                <p class="small mb-0 me-2 text-muted">Filter</p>
                                <select class="select" name="todo_filter">
                                    <option value="all">All</option>
                                    <option value="Complete">Completed</option>
                                    <option value="Active">Active</option>
                                    <option value="Has no due date">Has no due date</option>
                                </select>
                                <button type="submit" style="color: #23af89; border-color: transparent"
                                        data-mdb-toggle="tooltip"
                                        title="Ascending"><i class="fa-solid fa-filter"></i></button>
                                <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                                <select class="select" name="todo_sort">
                                    <option value="Added date">Added date</option>
                                    <option value="Due date">Due date</option>
                                </select>
                                <!--                                <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i-->
                                <!--                                        class="fas fa-sort-amount-down-alt ms-2"></i></a>-->
                                <button type="submit" style="color: #23af89; border-color: transparent"
                                        data-mdb-toggle="tooltip"
                                        title="Ascending"><i
                                        class="fas fa-sort-amount-down-alt ms-2"></i></button>
                            </div>
                            <!--                            <div>-->
                            <!--                                <button type="submit" class="btn btn-primary"-->
                            <!--                                        name="filter_task_button"-->
                            <!--                                        value=True>Filter Todo's-->
                            <!--                                </button>-->
                            <!--                            </div>-->
                        </form>
                        <!--                        <ul class="list-group list-group-horizontal rounded-0 bg-transparent">-->
                        <!--                            <li-->
                        <!--                                    class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">-->
                        <!--                                <div class="form-check">-->
                        <!--                                    <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked1"-->
                        <!--                                           aria-label="..." checked/>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                            <li-->
                        <!--                                    class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">-->
                        <!--                                <p class="lead fw-normal mb-0">Buy groceries for next week</p>-->
                        <!--                            </li>-->
                        <!--                            <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">-->
                        <!--                                <div class="d-flex flex-row justify-content-end mb-1">-->
                        <!--                                    <a href="#!" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i-->
                        <!--                                            class="fas fa-pencil-alt me-3"></i></a>-->
                        <!--                                    <a href="#!" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i-->
                        <!--                                            class="fas fa-trash-alt"></i></a>-->
                        <!--                                </div>-->
                        <!--                                <div class="text-end text-muted">-->
                        <!--                                    <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">-->
                        <!--                                        <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>28th Jun 2020</p>-->
                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                        </ul>-->
                        <form action="{{ url_for('checked') }}" method="post">
                            {% for todo in all_todos %}
                            <ul class="list-group list-group-horizontal rounded-0">
                                <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                    <div class="form-check">
                                        {% if todo.status == "Active" %}
                                        <input class="form-check-input me-0" type="checkbox" value={{ todo.id }}
                                               name="task_check_input"
                                               id="task_check_input"
                                               aria-label="..."/>
                                        {% else %}
                                        <input class="form-check-input me-0" type="checkbox" value={{ todo.id }}
                                               name="task_check_input"
                                               id="completed_tasks" checked
                                               aria-label="..."/>
                                        {% endif %}

                                    </div>
                                </li>
                                <li
                                        class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                    <p class="lead fw-normal mb-0">{{ todo.task }}</p>
                                </li>
                                <li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
                                    <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
                                        <p class="small mb-0">
                                            <a href="#!" data-mdb-toggle="tooltip" title="Due on date">
                                                <i class="fas fa-hourglass-half me-2 text-warning"></i>
                                            </a>
                                            {{ todo.duedate }}
                                        </p>
                                    </div>
                                </li>
                                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                    <div class="d-flex flex-row justify-content-end mb-1">
                                        <a href="{{url_for('edit_todo', todo_id = todo.id) }}" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i
                                                class="fas fa-pencil-alt me-3"></i></a>

                                        <a href="{{url_for('delete_todo', todo_id = todo.id) }}" class="text-danger" data-mdb-toggle="tooltip"
                                           title="Delete todo"><i class="fas fa-trash-alt"></i></a>

                                    </div>
                                    <div class="text-end text-muted">
                                        <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                                            <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{
                                                todo.create_date }}</p>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <button type="submit" class="btn btn-primary"
                                            name="update_task_button"
                                            value=True>Update Todo's
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!--                        <ul class="list-group list-group-horizontal rounded-0 mb-2">-->
                        <!--                            <li-->
                        <!--                                    class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">-->
                        <!--                                <div class="form-check">-->
                        <!--                                    <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked3"-->
                        <!--                                           aria-label="..."/>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                            <li-->
                        <!--                                    class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">-->
                        <!--                                <p class="lead fw-normal mb-0 bg-light w-100 ms-n2 ps-2 py-1 rounded">Sign up for online-->
                        <!--                                    course</p>-->
                        <!--                            </li>-->
                        <!--                            <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">-->
                        <!--                                <div class="d-flex flex-row justify-content-end mb-1">-->
                        <!--                                    <a href="#!" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i-->
                        <!--                                            class="fas fa-trash-alt"></i></a>-->
                        <!--                                </div>-->
                        <!--                                <div class="text-end text-muted">-->
                        <!--                                    <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">-->
                        <!--                                        <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>28th Jun 2020</p>-->
                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                        </ul>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
